@import '../../common/material-ui-colors';

$primary: $cyan-900;
$primary-background: $cyan-50;
$secondary: $cyan-100;
$accent: $green-700;
$highlight: $red-500;
$decent: $red-900;

$main-color: #00bbe5;
$secondary-color: #ffa900;
$sub-color-dark: #343745;
$sub-color-cyan: #d8d8d8;

$width-sidebar: 256px;
$height-header: 64px;
$font-family-base: Roboto, sans-serif;
